@import url('./global.css');

/* HEADER */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    background-color: var(--color-neutral-silver);
}
.logo-header img{
    width: 154;
    height: 24px;
}

.nav-header ul{
    display: flex;

    list-style: none;
    gap: 50px;
    
}

.nav-header ul li a{
    color: var(--color-neutral-black);
    font-weight: var(--font-body2-weight-regular);
    transition: 0.3s;
}

.nav-header ul li a:hover{
    color: var(--color-primary-primary);
    text-decoration: underline;
}

.container-btn-header button{
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}


.container-btn-header .btn-login{
    background-color: var(--color-neutral-silver);
}

.container-btn-header .btn-login a{
    color: var(--color-primary-primary);
}

.container-btn-header .btn-sign-up{
    background-color: var(--color-primary-primary);
}

.container-btn-header .btn-sign-up a{
    color: var(--color-neutral-white);
}
/* FIM HEADER */




/* MAIN  */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    padding: 96px 0px;
    background-color: var(--color-neutral-silver);
}


.content-hero{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 657px;
}

.content-hero h1{
    font-size: var(--font-headline-1-size);

}

.content-hero span{
    color: var(--color-primary-primary);
}
/* FIM MAIN  */




/* OUR CLIENTS  */
.our-clients{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin: 40px 0px;
}

.content-our-clients{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-logo-clients{
    display: flex;
    gap: 136px;
    padding: 25px 0px;
    justify-content: center;
}
/* FIM OUR CLIENTS  */


/* MANAGER  */
.manager{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    margin: 40px 0px;
    
}

.container-manager{
    display: flex;
    gap: 136px;
    padding: 25px 0px;
    justify-content: center;
    margin-top: 16px;
}
